---
import { Image } from "astro:assets";
import aboutUs from "@/assets/image/aboutUs.png";
import { CheckCircle2 } from "lucide-react";
import { Badge } from "../ui/badge";

const highlights = [
  "Tim Dokter Hewan Berpengalaman More than 10 Years",
  "Fasilitas Medis Modern & Terkini",
  "Pelayanan Ramah & Penuh Empati",
  "Komitmen Higienitas Standar Internasional",
];

const { id = "about" } = Astro.props;
---

<section id={id} class="py-20 overflow-hidden">

  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-12 lg:gap-20 items-start">
      <!-- Content Column -->
      <div class="space-y-14 lg:pt-20 lg:order-2">
        <div class="space-y-8 text-center lg:text-left">
          <p class="text-primary text-sm font-bold uppercase tracking-widest">TENTANG KAMI</p>
          <h2 class="text-3xl md:text-4xl font-bold text-slate-800 leading-tight">
            Dari Sebuah Mimpi Kecil, Menjadi <span class="text-primary">Kepercayaan</span> Banyak Keluarga
          </h2>
          <p class="text-slate-600 text-lg leading-relaxed max-w-2xl mx-auto lg:mx-0">
            Berawal dari ruang praktik kecil, kini kami berkembang menjadi klinik lengkap dengan fasilitas    diagnostik, ruang rawat inap, dan tim medis multidisiplin yang berdedikasi. Sejak berdiri pada tahun 2014, kami telah dipercaya oleh pemilik hewan di Sleman dan sekitarnya, serta melayani berbagai pasien rujukan dari berbagai daerah di seluruh Indonesia. Dengan pengalaman bertahun-tahun dan komitmen terhadap pelayanan terbaik, kami terus berupaya memberikan penanganan medis yang profesional dan penuh perhatian bagi setiap hewan kesayangan.
          </p>
        </div>
        <div class="flex flex-wrap justify-center gap-2 lg:justify-start lg:gap-4 text-primary">
          <Badge className="bg-primary/10 text-primary text-xs sm:text-sm hover:bg-primary/80 font-semibold">Pelayanan Sepenuh Hati</Badge>
          <Badge className="bg-primary/10 text-primary text-xs sm:text-sm hover:bg-primary/80 font-semibold">Teknologi Modern</Badge>
          <Badge className="bg-primary/10 text-primary text-xs sm:text-sm hover:bg-primary/80 font-semibold">Tim Ahli Multidisiplin</Badge>
        </div>
    </div>
    
      <!-- Image Column -->
      <div class="relative group lg:order-1 flex justify-center lg:justify-start">
          <Image 
            src={aboutUs} 
            alt="Tim D'Freeze Vet Clinic" 
            class="w-full max-w-[500px] lg:max-w-none h-auto object-cover scale-90 hover:scale-95 transition-transform duration-500"
          />
      </div>
    </div>
  </div>
</section>

<style>
  @keyframes bounce-slow {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
  }
  .animate-bounce-slow {
    animation: bounce-slow 4s infinite ease-in-out;
  }
</style>
